/* @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400'); */
@import url(tngan.ttf);

@font-face {
    font-family: "tngan";
    src: url(tngan.ttf) format('truetype');
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #131313;
    color: #fff;
    font-size: 96px;
    font-family: 'tngan', monospace;
    letter-spacing: 15px;
}

img {
    width: 50%;
    height: 50%;
}

#container {
    perspective: 25px;
}

#inner {
    width: 20em;
    height: 18em;
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

#glitch {
    animation: glitch 2s linear infinite;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(0px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-0px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

#glitch:before,
#glitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

#glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(0px, -0px);
    }

    4%,
    60% {
        transform: translate(-0px, 0px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

#glitch:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-0px, 0);
    }

    4%,
    60% {
        transform: translate(-0px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(34deg);
    }
}

.cursor {
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(cursor.png);
}